@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.3s ease;
  color: #333;
}

.body {
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  color: #333;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
/* -------------------------- START HEADER SECTION -------------------------- */
.header .top-header {
  width: 100%;
  height: 40px;
  background-color: #1e1f29;
  padding: 10px 0;
}
.header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top-header .container .top-header-left .info-list {
  width: 100%;
  display: flex;
}
.header .top-header .container .top-header-left .info-list .info-item {
  margin-right: 15px;
}
.header .top-header .container .top-header-left .info-list .info-item a {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}
.header .top-header .container .top-header-left .info-list .info-item a:hover {
  color: #d10024;
}
.header .top-header .container .top-header-left .info-list .info-item a .fa-solid {
  color: #d10024;
  margin-right: 5px;
}
.header .top-header .container .top-header-right .info-list {
  display: flex;
}
.header .top-header .container .top-header-right .info-list .info-item {
  margin-right: 15px;
}
.header .top-header .container .top-header-right .info-list .info-item a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 1.4;
}
.header .top-header .container .top-header-right .info-list .info-item a:hover {
  color: #d10024;
}
.header .top-header .container .top-header-right .info-list .info-item a .fa-solid {
  color: #d10024;
  margin-right: 5px;
}
.header .bottom-header {
  background-color: #15161d;
  padding: 15px 0;
}
.header .bottom-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bottom-header .container .logo {
  padding: 0 15px;
}
.header .bottom-header .container .search {
  padding: 15px 0;
}
.header .bottom-header .container .search form .input-select {
  font-weight: 400;
  font-size: 14px;
  margin: 0 -4px 0 0;
  padding: 0 15px;
  height: 40px;
  border-radius: 40px 0 0 40px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.header .bottom-header .container .search form .search-input {
  width: 295px;
  background-color: #fff;
  border: 1px solid #e4e7ed;
  font-weight: 400;
  font-size: 14px;
  margin: 0 -4px 0 0;
  padding: 0 15px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.header .bottom-header .container .search form .search-btn {
  width: 100px;
  margin: 0 -4px 0 0;
  padding: 1px 6px;
  background-color: #d10024;
  border-radius: 0 40px 40px 0;
  height: 40px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.header .bottom-header .container .userArea {
  width: 25%;
  padding: 0 15px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.header .bottom-header .container .userArea .userAreaCard {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header .bottom-header .container .userArea .userAreaCard i {
  color: #ffffff;
  font-size: 18px;
}
.header .bottom-header .container .userArea .userAreaCard .userAreaCardTitle {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}
.header .bottom-header .container .userArea .userAreaCard .userAreaCardCounter {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #ffffff;
  background-color: #d10024;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  height: 62px;
  border-top: #d10024 3px solid;
  border-bottom: 2px solid #e4e7ed;
}
.nav-bar .container .nav-list {
  display: flex;
  align-items: center;
  text-align: center;
}
.nav-bar .container .nav-list .nav-item {
  cursor: pointer;
  display: flex;
  margin-left: 30px;
}
.nav-bar .container .nav-list .nav-item:nth-child(1) {
  margin-left: 0;
}
.nav-bar .container .nav-list .nav-item a {
  padding: 20px 0;
  color: #2b2d42;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.nav-bar .container .nav-list .nav-item a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  transition: 0.2s all;
}
.nav-bar .container .nav-list .nav-item a:hover {
  color: #d10024;
  transition: 0.2s all;
}
.nav-bar .container .nav-list .nav-item a:hover::after {
  width: 100%;
}
.nav-bar .container .nav-list .nav-item .active {
  color: #d10024;
}
.nav-bar .container .nav-list .nav-item .active::after {
  width: 100%;
}

/* -------------------------- END HEADER SECTION -------------------------- */
/* --------------------------- START MAIN SECTION --------------------------- */
main {
  /* --------------------------- Start shop Section --------------------------- */
  /* ---------------------------- End Shop Section ---------------------------- */
  /* ----------------------- Start NEW PRODUCTS Section ----------------------- */
  /* ------------------------ End NEW PRODUCTS Section ------------------------ */
  /* ------------------------- START HOT DEAL SECTION ------------------------- */
  /* --------------------------  END HOT DEAL SECTION -------------------------- */
}
main .shop-section .container .card-box {
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 0;
  display: flex;
}
main .shop-section .container .card-box .card {
  width: 33.3333%;
  padding: 0 15px;
  position: relative;
}
main .shop-section .container .card-box .card .card-shop:hover img {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
main .shop-section .container .card-box .card .card-shop .card-img {
  background-color: #e4e7ed;
  overflow: hidden;
  position: relative;
}
main .shop-section .container .card-box .card .card-shop .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 60%;
  background: #d10024;
  opacity: 0.9;
  z-index: 1;
  transform: skewX(-45deg);
}
main .shop-section .container .card-box .card .card-shop .card-img img {
  border: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s all;
  z-index: -1;
}
main .shop-section .container .card-box .card .card-shop .card-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  z-index: 1;
  width: 100%;
  background: #d10024;
  opacity: 0.9;
  transform: skewX(-45deg) translateX(-100%);
}
main .shop-section .container .card-box .card .card-shop .card-body {
  position: absolute;
  top: 0;
  width: 75%;
  padding: 30px;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
}
main .shop-section .container .card-box .card .card-shop .card-body h3 {
  font-weight: 700;
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  width: 80%;
}
main .shop-section .container .card-box .card .card-shop .card-body a {
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 500;
  color: #fff;
}
main .shop-section .container .card-box .card .card-shop .card-body a .fa-arrow-right {
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  color: #d10024;
  margin-left: 10px;
}
main .new-products {
  padding: 50px 0;
}
main .new-products .container .new-title {
  margin: 15px 0 30px;
  padding: 0 15px;
}
main .new-products .container .new-title h3 {
  color: #2b2d42;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
main .new-products .container .new-title .new-products-form {
  float: right;
}
main .new-products .container .new-title .new-products-form .new-list {
  display: flex;
}
main .new-products .container .new-title .new-products-form .new-list .new-item {
  margin: 0 15px 0 0;
  cursor: pointer;
}
main .new-products .container .new-title .new-products-form .new-list .new-item:nth-child(4) {
  margin: 0 0 0 0;
}
main .new-products .container .new-title .new-products-form .new-list .new-item a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #8d99ae;
  font-size: 14px;
  line-height: 1.42;
}
main .new-products .container .new-title .new-products-form .new-list .new-item a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  transition: 0.2s all;
}
main .new-products .container .new-title .new-products-form .new-list .new-item a:hover {
  color: #d10024;
  transition: 0.2s all;
}
main .new-products .container .new-title .new-products-form .new-list .new-item a:hover::after {
  width: 100%;
}
main .new-products .container .new-title .new-products-form .new-list .new-item .active {
  color: #d10024;
}
main .new-products .container .new-title .new-products-form .new-list .new-item .active::after {
  width: 100%;
}
main .new-products .container .new-production-card-box {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}
main .new-products .container .new-production-card-box .card-info {
  width: 263px;
  position: relative;
  background-color: #fff;
  margin: 15px;
}
main .new-products .container .new-production-card-box .card-info:hover .card-button {
  transition: 0.2s all;
  margin-top: 0;
}
main .new-products .container .new-production-card-box .card-info .card {
  transition: 0.2s all;
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  width: 263px;
  position: relative;
  background-color: #fff;
  z-index: 9;
}
main .new-products .container .new-production-card-box .card-info .card:hover {
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 1px 2px #d10024;
}
main .new-products .container .new-production-card-box .card-info .card .image {
  height: 263px;
  display: flex;
  align-items: center;
}
main .new-products .container .new-production-card-box .card-info .card .image img {
  width: 100%;
}
main .new-products .container .new-production-card-box .card-info .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .title {
  text-align: center;
  color: #8d99ae;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
main .new-products .container .new-production-card-box .card-info .card .card-content h3 {
  margin: 0 0 10px;
  cursor: pointer;
  text-align: center;
}
main .new-products .container .new-production-card-box .card-info .card .card-content h3 a {
  color: #15161d;
  font-weight: 700;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}
main .new-products .container .new-production-card-box .card-info .card .card-content h4 {
  text-align: center;
  color: #d10024;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
main .new-products .container .new-production-card-box .card-info .card .card-content h4 span {
  font-size: 70%;
  color: #8d99ae;
  font-weight: 400;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .product-rating {
  display: flex;
  width: 100%;
  color: #d10024;
  justify-content: center;
  margin: 15px 0 10px;
  position: relative;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .product-rating i {
  color: #d10024;
  width: 14px;
  background-color: #fff;
  z-index: 10;
  line-height: 1.1;
  font-size: 14px;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .product-rating::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(0%);
  height: 1px;
  background-color: #e4e7ed;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .btn {
  display: flex;
  justify-content: center;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .btn button {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1px 6px;
  margin: 15px 0;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .btn button i {
  width: 14px;
  height: 14px;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .btn button:hover {
  background-color: #e4e7ed;
}
main .new-products .container .new-production-card-box .card-info .card .card-content .btn button:hover i {
  color: #d10024;
}
main .new-products .container .new-production-card-box .card-info .card-button {
  background-color: #1e1f29;
  text-align: center;
  padding: 15px;
  transition: 0.2s all;
  margin-top: -70px;
}
main .new-products .container .new-production-card-box .card-info .card-button button {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #ef233c;
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  transition: 0.2s all;
  font-family: "Montserrat", sans-serif;
}
main .new-products .container .new-production-card-box .card-info .card-button button:hover {
  background-color: #fff;
  color: #d10024;
  padding: 0px 30px 0 50px;
  border: #d10024;
}
main .new-products .container .new-production-card-box .card-info .card-button button:hover i {
  opacity: 1;
  visibility: visible;
  display: block;
}
main .new-products .container .new-production-card-box .card-info .card-button button i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #d10024;
  opacity: 0;
  visibility: hidden;
  display: none;
}
main .new-products .container .top-selling-bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
main .new-products .container .top-selling-bottom-section .top-selling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}
main .new-products .container .top-selling-bottom-section .top-selling h2 {
  margin: 15px 0 30px;
  text-align: start;
  color: #2b2d42;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content {
  display: flex;
  margin-bottom: 30px;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .image-selling {
  width: 60px;
  height: 60px;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .image-selling img {
  width: 100%;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling {
  padding: 0 0 0 15px;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling p {
  text-align: start;
  color: #8d99ae;
  font-size: 10px;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling h3 {
  margin: 0 0 10px;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling h3 a {
  font-weight: 700;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  cursor: pointer;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling h3 a:hover {
  color: #d10024;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling h4 {
  text-align: start;
  color: #d10024;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
main .new-products .container .top-selling-bottom-section .top-selling .top-selling-card-content .card-content-selling h4 span {
  text-align: start;
  font-size: 12px;
  color: #8d99ae;
  font-weight: 400;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}
main .hot-deal {
  background-image: url(../image/hotdeal.png.webp);
  margin: 30px 0;
  padding: 60px 0;
  height: 401px;
  background-position: center;
  background-color: #e4e7ed;
  background-repeat: no-repeat;
}
main .hot-deal .container .hot-deal-content {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}
main .hot-deal .container .hot-deal-content .hot-deal-list {
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 30px;
}
main .hot-deal .container .hot-deal-content .hot-deal-list .hot-deal-item {
  margin: 0 5px;
  background-color: rgba(209, 0, 36, 0.9019607843);
  width: 100px;
  height: 100px;
  border: 1px solid rgba(209, 0, 36, 0.9019607843);
  border-radius: 50%;
  position: relative;
  text-align: center;
}
main .hot-deal .container .hot-deal-content .hot-deal-list .hot-deal-item .li-into {
  position: absolute;
  text-align: center;
  left: 0;
  top: 25%;
  right: 0;
}
main .hot-deal .container .hot-deal-content .hot-deal-list .hot-deal-item .li-into h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  line-height: 1.1;
}
main .hot-deal .container .hot-deal-content .hot-deal-list .hot-deal-item .li-into span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
}
main .hot-deal .container .hot-deal-content .hot-deal-title {
  font-weight: 700;
  color: #2b2d42;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 10px;
  font-size: 30px;
}
main .hot-deal .container .hot-deal-content .hot-deal-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 0 0 10px;
  color: #333333;
  font-weight: 400;
  line-height: 1.4;
}
main .hot-deal .container .hot-deal-content a {
  margin-top: 15px;
  padding: 12px 30px;
  background-color: #d10024;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  transition: 0.2s all;
  font-size: 14px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}
main .hot-deal .container .hot-deal-content a {
  opacity: 0.9;
  color: #fff;
}
main .newsletter {
  padding: 30px 0;
  margin-top: 30px;
  border-bottom: 3px solid #d10024;
  border-top: 2px solid #e4e7ed;
}
main .newsletter .container .content p {
  font-size: 24px;
  margin: 0 0 10px;
  text-align: center;
  color: #333;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}
main .newsletter .container .content form {
  max-width: 520px;
  margin: 30px auto;
  text-align: center;
}
main .newsletter .container .content form .input {
  width: calc(100% - 160px);
  margin-right: -4px;
  border-radius: 40px 0 0 40px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  cursor: text;
  text-align: start;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  text-indent: 0px;
}
main .newsletter .container .content form button {
  width: 160px;
  height: 40px;
  font-weight: 700;
  background-color: #d10024;
  color: #fff;
  border: none;
  border-radius: 0px 40px 40px 0;
  cursor: pointer;
  overflow: visible;
  padding: 1px 6px;
}
main .newsletter .container .content form button i {
  cursor: pointer;
  color: #fff;
}
main .newsletter .container .content .newsletter-social {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .newsletter .container .content .newsletter-social .social-item {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: 1px solid #e4e7ed;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}
main .newsletter .container .content .newsletter-social .social-item:hover {
  background-color: #e4e7ed;
}
main .newsletter .container .content .newsletter-social .social-item:hover i {
  color: #d10024;
}
main .newsletter .container .content .newsletter-social .social-item a {
  line-height: 40px;
}
main .newsletter .container .content .newsletter-social .social-item a i {
  text-align: center;
  color: #2b2d42;
  font: normal normal normal 14px/1;
}

/* ---------------------------- END MAIN SECTION ---------------------------- */
/* -------------------------- Start Footer Section -------------------------- */
footer .top-footer {
  background: #15161d;
  color: #b9babc;
  padding-top: 30px;
  padding-bottom: 15px;
}
footer .top-footer .container .content-footter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer .top-footer .container .content-footter .about-us {
  width: 25%;
  margin: 30px 0;
  padding: 0 15px;
  text-align: start;
}
footer .top-footer .container .content-footter .about-us h3 {
  font-size: 18px;
  margin: 0 0 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}
footer .top-footer .container .content-footter .about-us p {
  margin: 0 0 10px;
  color: #b9babc;
}
footer .top-footer .container .content-footter .about-us .contact-list .contact-item {
  margin-bottom: 10px;
}
footer .top-footer .container .content-footter .about-us .contact-list .contact-item a {
  color: #b9babc;
  font-weight: 500;
  transition: 0.2s all;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
}
footer .top-footer .container .content-footter .about-us .contact-list .contact-item a i {
  color: #d10024;
  margin-right: 15px;
}
footer .top-footer .container .content-footter .about-us .contact-list .contact-item a:hover {
  color: #d10024;
}
footer .top-footer .container .content-footter .footer-info {
  width: 25%;
  margin: 30px 0;
  text-align: start;
}
footer .top-footer .container .content-footter .footer-info h3 {
  font-size: 18px;
  margin: 0 0 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}
footer .top-footer .container .content-footter .footer-info .footer-list .footer-item {
  margin-bottom: 15px;
}
footer .top-footer .container .content-footter .footer-info .footer-list .footer-item a {
  color: #b9babc;
  font-weight: 500;
  transition: 0.2s all;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
}
footer .top-footer .container .content-footter .footer-info .footer-list .footer-item a:hover {
  color: #d10024;
}
footer .footer-bottom {
  width: 100%;
  height: 100px;
  background-color: #1E1F29;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-bottom .container .online-card {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
footer .footer-bottom .container .online-card .card-item {
  margin-right: 5px;
}
footer .footer-bottom .container .online-card .card-item a {
  font-size: 36px;
  display: block;
  font-weight: 500;
}
footer .footer-bottom .container .online-card .card-item a i {
  color: #15161D;
  font: normal normal normal 14px/1;
}

/* --------------------------- End footer section --------------------------- *//*# sourceMappingURL=main.css.map */